<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football - Submit Bet</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  </head>

  <body>
    <div></div>

    <div>
      <form action="/admin/add/bet" method="POST">
        <table>
          <tr>
            <td>Match Name</td>
            <td><input type="text" name="mname" id="mname" /></td>
          </tr>

          <tr>
            <td>Team A</td>
            <td><input type="text" name="teamA" id="teamA" /></td>
          </tr>

          <tr>
            <td>Team B</td>
            <td><input type="text" name="teamB" id="teamB" /></td>
          </tr>

          <tr>
            <td>Bet Amount(in ethers)</td>
            <td><input type="text" name="betamount" id="betamount" /></td>
          </tr>

          <tr>
            <td>Match Start Date(in IST)</td>
            <td>
              <input
                type="date"
                name="startdate"
                id="startdate"
                onchange="onChangeStartDate()"
              />
            </td>
          </tr>

          <tr>
            <td>Match Start Time(in IST)</td>
            <td><input type="time" name="starttime" id="starttime" /></td>
          </tr>

          <tr>
            <td colspan="2" align="center">
              <input
                type="checkbox"
                name="startenddate"
                id="startenddate"
                checked
                onchange="onChangeStartEndDate()"
              />
              Same Start and End Date
            </td>
          </tr>

          <tr>
            <td>Match End Date(in IST)</td>
            <td><input type="date" name="enddate" id="enddate" readonly /></td>
          </tr>

          <tr>
            <td>Match End Time(in IST)</td>
            <td><input type="time" name="endtime" id="endtime" /></td>
          </tr>

          <tr>
            <td>Maximum Number of Bettors</td>
            <td><input type="text" name="maxlimit" id="maxlimit" /></td>
          </tr>

          <tr>
            <td colspan="2" align="center">
              <input type="submit" value="ADD" />
            </td>
          </tr>
        </table>
      </form>
    </div>

    <div></div>

    <script>
      function onChangeStartDate() {
        console.log($("#startenddate")[0].checked);
        console.log($("#startdate").val());

        if ($("#startenddate")[0].checked == true) {
          console.log("hello");

          $("#enddate")[0].value = $("#startdate").val();
        }
      }

      function onChangeStartEndDate() {
        $("#enddate")[0].readOnly = $("#startenddate")[0].checked;
        if ($("#startenddate")[0].checked == true) {
          $("#enddate")[0].value = $("#startdate").val();
        }
      }
    </script>
  </body>
</html>
