<div class="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  routerLink="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"  routerLink="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  routerLink="#">Action</a>
                    <a class="dropdown-item"  routerLink="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  routerLink="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"  routerLink="#">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a (click)="onClickLogout()" class="nav-link">Logout</a>
            </li>
        </ul>
        
    </div>
</nav>
</div>