<app-adminheader></app-adminheader>

    <div id="container">
        <form [formGroup]="addBetform" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <strong><h1 align="center">ADD BET INFO</h1></strong>
                <br>
                <table align="center">
                    <tr>
                        <td>
                            <label class="form-text">Match Name</label>
                        </td>
                        <td><input type="text" formControlName="mname" name="mname" id="mname" class="form-control"
                                [ngClass]="{'is-invalid' : submitted && f.mname.errors}">
                            <div *ngIf="submitted && f.mname.errors" class="invalid-feedback">
                                <div *ngIf="f.mname.errors.required">Match Name is required</div>
    
                            </div>
                        </td>
                    </tr>
    
                    <tr>
                        <td> <label class="form-text">Team A</label></td>
                        <td>
                            <input type="text" name="teamA" id="teamA" class="form-control" formControlName="teamA" [ngClass]="{'is-invalid' : submitted && f.teamA.errors}">
                            <div *ngIf="submitted && f.teamA.errors" class="invalid-feedback">
                                <div *ngIf="f.teamA.errors.required">Team A is required</div>
                            
                            </div>
                        </td>
                    </tr>
    
                    <tr>
                        <td>Team B</td>
                        <td><input type="text" name="teamB" id="teamB" class="form-control" formControlName="teamB" [ngClass]="{'is-invalid' : submitted && f.teamB.errors}">
                            <div *ngIf="submitted && f.teamB.errors" class="invalid-feedback">
                                <div *ngIf="f.teamB.errors.required">Team B is required</div>
                            
                            </div></td>
                    </tr>
    
                    <tr>
                        <td>Bet Amount(in ethers)</td>
                        <td><input type="number" name="betamount" id="betamount" class="form-control" formControlName="betamount" [ngClass]="{'is-invalid' : submitted && f.betamount.errors}">
                            <div *ngIf="submitted && f.betamount.errors" class="invalid-feedback">
                                <div *ngIf="f.betamount.errors.required">BetAmount is required</div>
                                <div *ngIf="f.betamount.errors.pattern">Please enter the amount in ethers</div>
                            </div></td>
                    </tr>
    
                    <tr>
                        <td>Match Start Date(in IST)</td>
                        <td><input type="date" name="startdate" id="startdate" class="form-control" formControlName="startdate" [ngClass]="{'is-invalid' : submitted && f.startdate.errors}">
                            <div *ngIf="submitted && f.startdate.errors" class="invalid-feedback">
                                <div *ngIf="f.startdate.errors.required">startdate is required</div>
                            </div></td>
                    </tr>
    
                    <tr>
                        <td>Match Start Time(in IST)</td>
                        <td><input type="time" name="starttime" id="starttime" class="form-control" formControlName="starttime" [ngClass]="{'is-invalid' : submitted && f.starttime.errors}">
                            <div *ngIf="submitted && f.starttime.errors" class="invalid-feedback">
                                <div *ngIf="f.starttime.errors.required">start time is required</div>
                            </div></td>
                    </tr>
    
                    <tr>
                        <td colspan="2" align="center">
                            <input type="checkbox" name="startenddate" id="startenddate" checked
                                onchange="onChangeStartEndDate()"> Same Start and End Date</td>
                    </tr>
    
                    <tr>
                        <td>Match End Date(in IST)</td>
                        <td><input type="date" name="enddate" id="enddate" class="form-control" formControlName="enddate" [ngClass]="{'is-invalid' : submitted && f.enddate.errors}">
                            <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback">
                                <div *ngIf="f.enddate.errors.required">end date is required</div>
                            </div></td>
                    </tr>
    
    
                    <tr>
                        <td>Match End Time(in IST)</td>
                        <td><input type="time" name="endtime" id="endtime" class="form-control" formControlName="endtime" [ngClass]="{'is-invalid' : submitted && f.endtime.errors}">
                            <div *ngIf="submitted && f.endtime.errors" class="invalid-feedback">
                                <div *ngIf="f.endtime.errors.required">end time is required</div>
                            </div></td>
                    </tr>
    
                    <tr>
                        <td>Maximum Number of Bettors</td>
                        <td><input type="number" name="maxlimit" id="maxlimit" class="form-control" formControlName="maxlimit" [ngClass]="{'is-invalid' : submitted && f.maxlimit.errors}">
                            <div *ngIf="submitted && f.maxlimit.errors" class="invalid-feedback">
                                <div *ngIf="f.maxlimit.errors.required">Max limit is required</div>
                                <div *ngIf="f.maxlimit.errors.pattern">Please enter a number</div>
                            </div></td>
                    </tr>
    <br>
                    <tr>
                        <td colspan="2" align="center">
                            <button class="btn btn-primary form-control" type="submit">Submit</button>
                        </td>
                    </tr>
    
                </table>
    
            </div>
    
        </form>
    </div>