table tr td {
    padding-right:10px;
}

form{
    padding-left:460px;
    padding-right:460px ;
}

form div{
    padding: 20px;
    background-color:#037aa8;
    color: white;
    box-shadow: #8f9294 6px 5px 0px 0px;
}